<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InventarioCDGCEntities1" connectionString="metadata=res://*/ModelCDGC.csdl|res://*/ModelCDGC.ssdl|res://*/ModelCDGC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.113;initial catalog=InventarioCDGC;user id=sa;password=ofimatic;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>