<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="InventarioCDGCEntities" connectionString="metadata=res://*/ModelCDGC.csdl|res://*/ModelCDGC.ssdl|res://*/ModelCDGC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-03\martinez;initial catalog=InventarioCDGC;user id=sa;password=ofimatic;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
